<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/css/character.css"
</head>
<body> -->
    <p class="names">{{first_name}} {{last_name}}</p>
    <p class="stats">{{strength}} {{intelligence}} </p>
    <p class="stats">{{dexterity}} {{wisdom}}</p>
    <p class="stats">{{constitution}} {{charisma}} </p>
    <p class="race_class">{{race}} </p>
    <p class="race_class">{{class}} </p>
    <p id="inventory">{{inventory}}</p>
<!-- </body>
</html> -->