<section class="container-fluid">
<section class = 'row cols-4 members' id="members">
    <section class = "col name" id="name">
            {{first_name}}{{last_name}} 
    </section>
    <section class="col race" id="race">
            {{race_val}}
        </section>
    <section class="col level" id="level">
        <p>Level {{level}}</p>
    </section>  
    <section class="col charclass" id="class">
            {{char_class}}
    </section>
    <section class="col hp" id="hp">
        <p>Hitpoints: {{hp}}</p>
    </section>
</section>
</section>

    
