<section class = 'row members' id="members">
    <section class = "col firstnm" id="firstnm">
        {{first_name}}
    </section>
    <section class="col lastnm" id="lastnm">
            {{last_name}} 
    </section>
    <section class="col race" id="race">
            {{race_val}}
        </section>
    <section class="col level" id="level">
        <p>Level: {{level}}</p>
    </section>  
    <section class=""col class">{{class}}</section>
    
